// fonts
$text-font: 'Roboto', sans-serif;
$title-font: 'Roboto Slab', serif;

// colors
$primary-dark: black;
$primary-light: white;
$secondary-green: #6c933e;
$secondary-light-green: #d9e4cc;
$secondary-grey: #4a4a4a;
