.aside {
    width: 100%;
    background-color: $secondary-light-green;
    text-align: center;
    padding: 20px;

    &__subtitle {
        font-family: $title-font;
        color: $secondary-grey;
        font-size: 10px;
    }

    &__title {
        font-family: $title-font;
        color: $primary-dark;
    }

    &__list {
        height: auto;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 150px;
        gap: 10px;
        padding: 10px;
    }

    &__items>a {
        height: 100px;
    }

    &__items>span {
        height: 51px;
    }

    &__img--round {
        border-radius: 100%;
        max-height: 100%;
    }

    &__button--start {
        background-color: $secondary-green;
        border-radius: 20px;
        border: 2px solid $secondary-green;
        color: $primary-light;
        padding: 5px 15px;
        font-family: $text-font;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        margin-top: 15px;
    }

    &__description {
        font-family: $title-font;
        font-weight: 500;
    }
}