.footer {
    background-color: $secondary-grey;
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: $primary-light;
    font-family: $text-font;
    align-items: center;
    text-align: center;
    line-height: 1.88;
    font-weight: 0;
    position: relative;

    @media all and (min-width: 768px){
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }

    &__list--one,
    &__list--two {
        cursor: pointer;
    }

    &__list--one>ul>li>a:hover,
    &__list--two>ul>li>a:hover {
        color: $secondary-green;
    }

    &__list--one {
        @media all and (min-width: 768px){
            order: 2; 
            text-align: left;
        }
    }

    &__list--two {
        @media all and (min-width: 768px){
            order: 3; 
            text-align: left;
        }
    }

    &__list--three {
        @media all and (min-width: 768px){
            order: 1;  
            text-align: left;
        }
    }

    &__list--anchor {
        color: white;
    }

    &__heart {
        color: $secondary-green;
    }

    &__scrollup {
        width: 45px;
        height: 45px;
        background-color: $primary-light;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 2;
        position: absolute;
        margin-top: -400px;

        @media all and (min-width: 768px) {
            margin-top: -55px;
        }
    }

    &__scroll--img {
        height: 24px;
        color: $secondary-green;
    }
}