.footer {
    background-color: $secondary-grey;
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: $primary-light;
    font-family: $text-font;
    align-items: center;
    text-align: center;
    line-height: 1.88;
    font-weight: 0;
    
    &__list--one, list--two{
       cursor: pointer;
    }


    &__heart {
        color: $secondary-green;
        
    }

   

}

