.header {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;

    &__menu {
        background-color: $secondary-green;
        padding: 15px;
        align-items: center;

    }

}