.header {
    width: 100%;
    display: flex;
    position: fixed;
    
    
        &__menu {
            background-color: $secondary-green;
            padding: 15px;
            align-items: center;
    
        }

}