.hero {
    height: 100vh;
    background: url(../images/cover.jpeg) no-repeat;
    background-position-x: 80%;
    background-size: cover;

    &__text {
        color: $primary-light;
        position: absolute;
        text-align: center;
        top: 60%;
       
        &--title {
            font-family: $title-font;
            font-size: 2rem;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        }

        &--subtitle {
            font-family: $text-font;
            font-size: 1rem;
            font-weight: normal;
        }
    }
}