<aside class="aside" id="aside">
    <p class="aside__intro">¡Prepáralos con tus marcas favoritas!</p>
    <h1 class="aside__title">VUELTA AL COLE </h1>
    <ul class="aside__list">
        <li class="aside__items">
            <a href="#">
                <img class="aside__img--round" src="/images/lpbts-mod05-img01-desk.png" alt="schoolbag">
            </a>
            <span class="aside__description">Mochilas escolares</span>
        </li>
        <li class="aside__items">
            <a href="#">
                <img class="aside__img--round" src="/images/lpbts-mod05-img03-mob.png" alt="pencil case">
            </a>
            <span class="aside__description">Estuches</span>
        </li>
        <li class="aside__items">
            <a href="#">
                <img class="aside__img--round" src="/images/lpbts-mod05-img04-mob.png" alt="sport bag">
            </a>
            <span class="aside__description">Bolsas de deporte</span>
        </li>

        <button class="aside__button--start">Empezar ahora</button>

</aside>