<footer class="footer">
    <div class="footer__scrollup">

            <a href="#">
                <img class="footer__scroll--img" src="/images/ico-arrow.svg" alt="scroll-up">
            </a>

    </div>

    <div class="footer__cointainer--one">
        <ul class="footer__list--one">
            <li><a class="footer__list--anchor" href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">ROPA</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">NIÑO/A</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">DESTACADOS</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">TIPS</a></li>
        </ul>
    </div>
    <div class="footer__container--two">
        <ul class="footer__list--two">
            <li><a class="footer__list--anchor" href="https://adalab.es/">TWITTER</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">YOUTUBE</a></li>

        </ul>
    </div>
    <div>
        <p>&copy; 2024</p>
        <p>we <span class="footer__heart">❤︎ </span> run</p>
    </div>

</footer>