<footer class="footer">
    <div class="footer__scrollup">
        <a href="#hero">
            <img class="footer__scroll--img" src="/images/ico-arrow.svg" alt="scroll-up">
        </a>
    </div>

    <div class="footer__list--one">
        <ul>
            <li><a class="footer__list--anchor" href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">ROPA</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">NIÑO/A</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">DESTACADOS</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">TIPS</a></li>
        </ul>
    </div>

    <div class="footer__list--two">
        <ul>
            <li><a class="footer__list--anchor" href="https://adalab.es/">TWITTER</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a class="footer__list--anchor" href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </div>

    <div class="footer__list--three">
        <p>&copy; 2024</p>
        <p>we <span class="footer__heart">❤︎ </span> run</p>
    </div>

</footer>