<section class="main-container-one">
    <p>HISTORIAS, MODA Y ROPA DEPORTIVA</p>
    <h1>TU TIENDA DE DEPORTE</h1>
    <p>El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las
        últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>

    <button type="button">COMPRAR</button>

</section>

<section class="main-cointainer-two">
    <p>Prepáralos con tus marcas favoritas</p>
    <h1>VUELTA AL COLE </h1>
    <img src="" alt="">
    <p>Mochilas escolares</p>
    <img src="" alt="">
    <p>Estuches</p>
    <img src="" alt="">
    <p>Bolsas de deporte</p>
    <button type="button">Empezar ahora</button>
</section>